@media (max-width: 940px) {
    .modal__container {
        display: flex;
        flex-direction: column;
        height: 100%;
        gap: 14px;

        & label, input, select {
            margin: 15px 0px 15px 0px;    
        }

        & button {
            width: 100%;
        }

    }
}

@media (min-width: 930px) {
    .modal__container {
        display: flex;
        flex-direction: column;
        height: 100%;
        gap: 14px;

        & label, input, select {
            margin: 15px 0px 15px 0px;    
        }

        & button {
            width: 100%;
        }

    }
}
