.title1 {
    color: var(--grey-0);
    font-size: 18.273px;
    font-style: normal;
    font-weight: 700;
    line-height: 28.425px;
}

.title2 {
    color: var(--grey-0);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 26.394px;
}

.headline {
    color: var(--grey-0);
    font-size: 12.182px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.334px;
}

.headlineBold {
    color: var(--grey-0);
    font-size: 12.182px;
    font-style: normal;
    font-weight: 400;
    line-height: 22.334px;
}

.paragraph {
    color: var(--grey-0);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 18.273px;
}

.paragraph2 {
    color: var(--grey-1, #868E96);
    font-size: 12px;
    font-weight: 400;
    line-height: 17.59px;
}

