@media (max-width: 940px) {
    .main__container {
        display: flex;
        flex-direction: column;
        position: fixed;
        padding: 18px 18px;

        background-color: var(--grey-3, #212529);

        width: 80%;
        height: 50%;
        margin: 1% 0% ;
        padding: 18px 18px;
        border-radius: 4px;
    }

    .title__container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        height: 40px;
        // background-color: var(--grey-2, #343B41); 

    }
}

@media (min-width: 930px) {
    .main__container {
        display: flex;
        flex-direction: column;
        position: fixed;
        padding: 18px 18px;

        background-color: var(--grey-3, #212529);

        width: 50%;
        height: 50%;
        margin: 1% 7% ;
        padding: 18px 18px;
        border-radius: 4px;
    }

    .title__container {
        display: flex;
        align-items: center;
        justify-content: space-between;

        height: 40px;
        margin-bottom: 20px;
        // background-color: var(--grey-2, #343B41); 

    }
}